h1 {
 color: white;
}

body {
 color:white;
 background-image: url(/static/images/debut_dark.png);
 z-index:-5;
}

.well {
 color:black;
}

#viz {
 margin-left:-30%;
 width:100%;
}

#desc {
    font-size:18;
}

#disWhereYouNeedToPutIt {
    position:Absolute;
    margin-top:25px;
    font-size:24;
}